# APP ENV
APP_NAME=app-name
PROJ_NAME=AppName

# AWS
AWS_PROFILE=awsprofile # (optional during local development)
AWS_REGION=ap-southeast-1

# CLOUDFLARE
CLOUDFLARE_DEFAULT_ACCOUNT_ID=value # can be found under your cloudflare url on browser https://dash.cloudflare.com/account-id
CLOUDFLARE_API_TOKEN=value
GITHUB_OWNER=value
GITHUB_REPO_NAME=value
GITHUB_BRANCH=value

### MAIN BACKEND ENVs ###
DB_URL=tursodburl?authToken=value
AUTH_SESSION_SECRET=secretvalue

### CUSTOM DOMAIN ENVs ###
DOMAIN=your-website.com # custom domain can have subdomain / dont define if local development
ACM_ARN=acm-certificate-arn # create manually at aws console
ZONE_ID=hosted-zone-id # create hosted zone manually at aws console