# APP ENV
APP_NAME=app-name
PROJ_NAME=AppName

# AWS
AWS_PROFILE=awsprofile # (optional during local development)
AWS_REGION=ap-southeast-1

# CLOUDFLARE
CLOUDFLARE_DEFAULT_ACCOUNT_ID=value # can be found under your cloudflare url on browser https://dash.cloudflare.com/account-id
CLOUDFLARE_API_TOKEN=value
GITHUB_OWNER=value
GITHUB_REPO_NAME=value
GITHUB_BRANCH=value

### MAIN BACKEND ENVs ###
DB_URL=tursodburl?authToken=value
AUTH_SESSION_SECRET=secretvalue
DOMAIN=your-website.com # provide a custom domain name must be the base domain only not the subdomain but dont define any if for local development only which is the `pnpm dev` command