@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: 5px;
  scrollbar-color: #d4cdcd;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #d4cdcd;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 14px;
  border: 1px solid rgb(153, 153, 153);
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  padding: 0 1rem;
}

@layer base {
  :root {
    /* Primary Colors */
    --primary: #6366f1;
    --primary-foreground: #818cf8;
    --primary-soft: rgba(99, 102, 241, 0.2);

    /* Secondary Colors */
    --secondary: #f9f871;
    --secondary-foreground: #f5f588;

    /* Neutral Colors */
    --background: #fafafa;
    --surface: #ffffff;

    /* Font Colors */
    --header-color: black;
    --text-color: black;

    /* Functional Colors */
    --success: #10b981;
    --destructive: #ef4444;
    --info: #3b82f6;

    --button-text-color: #6366f1;
    --input: #9ca3af;
    --popup: #d4d4d8;
    --ghost: #d4d4d8;
  }

  .dark {
    /* Primary Colors */
    --primary: #6366f1;
    --primary-foreground: #818cf8;
    --primary-soft: rgba(99, 102, 241, 0.2);

    /* Secondary Colors */
    --secondary: #f9f871;
    --secondary-foreground: #f5f588;

    /* Neutral Colors */
    --background: #1a1a1a;
    --surface: #242424;

    /* Font Colors */
    --header-color: #9ca3af;
    --text-color: #9ca3af;

    /* Functional Colors */
    --success: #10b981;
    --destructive: #ef4444;
    --info: #3b82f6;

    --button-text-color: #6366f1;
    --input: #4b5563;
    --popup: #52525b;
    --ghost: #27272a;
  }
}

* {
  background-color: inherit;
}

body {
  background-color: var(--background);
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  color: var(--header-color);
}

p,
span,
div {
  font-family: "Manrope", sans-serif;
  color: var(--text-color);
}

button {
  color: var(--button-text-color);
}
